@font-face {
  font-family: 'Megrim';
  src: url('./assets/fonts/megrim-regular-fonts/megrim-regular-webfont.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/megrim-regular-fonts/megrim-regular-webfont.woff')
      format('woff'),
    /* Pretty Modern Browsers */
      url('./assets/fonts/megrim-regular-fonts/megrim-regular.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

.recharts-responsive-container {
  margin: auto;
}
